

<div class="grid gridwidth">
   
    <div class="col-6 card">
        
      <form class="stlssh " #myForm="ngForm" >
        <div class="logo" >
        <img src="../../assets/Vector.svg">
      </div>
      <div class="header">
        <span >Create an Password</span>
      </div>
      <div class="form-group formgap">
        <label for="UserName">New Password</label>
        </div>
        <div>
        <input type="text" class="form-control" [(ngModel)]="newpassword" name="name">
      </div>
        <div class="form-group formgap">
          <label for="email" class="labeltext"> Confirm Password</label>
          </div>
          <div>
          <input type="text" class="form-control" [(ngModel)]="confirmPassword" name="email" >
        </div>
      
          
        
        <div  class="formgap">
          
        <button type="submit" class="btn btn-primary"   (click)="addUser()">Reset Password</button>
    </div>
   
  <div class="accountrouter1">
    <div>
    <p >By creating an account, you agree to our <span class="spacolor">Terms of Service </span></p>
    </div>
    <div>
    <p> and<span class="spacolor">     Privacy Policy.</span> </p>
    </div>
  </div>
  <div class="card flex justify-content-center gap-2">

</div>
 
      </form>
        
           
                
              <!-- <form class="stlssh " #myForm="ngForm" >
                <img src="../../assets/Vector.svg">
                <h1 >t</h1>
               
                <div class="form-group formgap">
                  <label for="email">Email ID</label>
                  </div>
                  <div>
                  <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="email ">
                </div>
                <div class="form-group formgap">
                  
                
                  <label for="Password">Password</label>
                  </div>
                  <div class="formgap">
                  <input type="text" class="form-control" [(ngModel)]="Password" name="Password" placeholder="password">
                </div>
               
              
           
            <h5 class="formgap">Already have an account? <a routerLink="/login">Login</a></h5>
              </form>
           
           -->
    
        
    </div>
    <div class="col-6 img">
       
      <img src="../../assets/Group 6 (1).png">
        
    </div>
  </div>

<p-toast></p-toast>