<div class="grid gridwidth">

  <div class="col-6 card">

    <form class="stlssh " #myForm="ngForm">
      <div class="logo" >
        <img src="../../assets/Vector.svg">
      </div>
      <div class="header">
        <span >EmailVerification</span>
      </div>
      <div class="formgap">
        <input type="text" class="form-control" [(ngModel)]="otp" name="otp"
          placeholder="Enter Your code">
      </div>
      
      <div class="formgap">
        <button type="submit" class="btn btn-primary"  (click)="verifyUser()">verified code</button>
      </div>
      <div class="accountrouter">
        <a  style="text-decoration: underline;" (click)="resendOtp">Resend OTP?</a>
      </div>
      <div class="accountrouter1">
        <div>
        <p >By creating an account, you agree to our <span class="spacolor">Terms of Service </span></p>
        </div>
        <div>
        <p> and<span class="spacolor">     Privacy Policy.</span> </p>
        </div>
      </div>

    </form>

  </div>

  <div class="col-6 img">

    <img src="../../assets/Group 6 (1).png">

  </div>

</div>
<p-toast></p-toast>