<!-- <div class="grid gridwidth">
   
  <div class="col-5 card">
      
  
      
         
              
            <form class="stlssh " #myForm="ngForm" >
              <h1 >Login</h1>
              <div class="form-group formgap">
                <label for="UserName">Email ID</label>
                </div>
                <div>
                <input type="text" class="form-control" [(ngModel)]="UserName" name="UserName" placeholder="email ">
              </div>
              <div class="form-group formgap">
                
              
                <label for="Password">Password</label>
                </div>
                <div class="formgap">
                <input type="text" class="form-control" [(ngModel)]="Password" name="Password" placeholder="password">
              </div>
              <div  class="formgap">
              <button type="submit" class="btn btn-primary" (click)="userLogin()">Login</button>
          </div>
          <h5 class="formgap">Don't have an account? <a routerLink="/signup">Sign Up</a></h5>
            </form>
         
        
  
      
  </div>
  <div class="col-7 img">
     
          <img src="../../assets/image 2435.png">
      
  </div>
</div> -->

<router-outlet></router-outlet>